#game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

#canSelection {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  top: 40vh; /* Position the can selection area below the button container */
  width: 100%; /* Use the full width of the viewport */
}

#juvee {
  width: 50px;
  height: 50px;
  /* background: url(img/blueRazz.png); */
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 120px;
  }

  50% {
    top: 50px;
  }

  80% {
    top: 120px;
  }

  100% {
    top: 150px;
  }
}

#obstacle {
  width: 30px;
  height: 40px;
  position: relative;
  background-image: url("img/sam.jpg");
  background-size: 30px 40px;
  border-radius: 50%;
  top: 110px;
  left: 560px;
}

.startedGame {
  animation: block 1s infinite linear;
}


@keyframes block {
  0% {
    left: 560px;
  }

  100% {
    left: -40px;
  }
}

#start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* Change to 30% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  position: absolute;
  top: 130px;
  left: 0;
}

#startGameButton {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #FF5733; /* Change this to the logo's background color */
  color: #FFFFFF; /* Change this to the logo's text color */
  border: none;
  border-radius: 5px;
  padding: 20px 60px;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

/* Button hover effect */
#startGameButton:hover {
  background-color: #FF6F47; /* Change this to a slightly lighter version of the logo's background color */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Button active effect */
#startGameButton:active {
  background-color: #FF6F47; /* Change this to a slightly darker version of the logo's background color */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}